#concepts {
	margin-top:35px;
}

#steps .col-md-8{
	margin-top:35px;
	margin-left:150px;
}

.container h4{
	color: #367C39;
}

.jumbotron{
	background: #E2FBE3;
}
#steps .col h4{
	padding:20px;
}
.jumbotron .container .card{
	background: #FFFFFF;
}
.container .card{
	// margin:20px;
	background: #E2FBE3;
}


.jumbotron h1,.container h2,#steps h2{
	color: #4CAF50;
}





